
body{
  /* background-color: #282A3A; */
}
.app-grid{
  height: 600px;
  width: 950px;
  margin: 20px;
  padding: 1em;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  /* grid-template-rows: ; */
  grid-gap: 1em;
}
.app-grid > div{
  background: #eee;
  padding:1em;
}

